###########################
#     ABSQUE ENV VARS
###########################
PORT=
AUTH_CODE=""
AUTH_SECRET_KEY=""

###########################
#  DB-CONNECTION ENV VARS

FIRST_TICKET_NUMBER

# -DATABASE-
# - localhost
MONGODB_URL="mongodb://<server>:<port>/<database>"